Package: gajim-urlimagepreview
Version: 2.2.2-1
Architecture: all
Maintainer: Debian XMPP Maintainers <pkg-xmpp-devel@lists.alioth.debian.org>
Installed-Size: 63
Depends: gajim (>= 1.0.0), python3-pil
Recommends: python3-cryptography
Section: net
Priority: optional
Homepage: https://trac-plugins.gajim.org/wiki/UrlImagePreviewPlugin
Description: displays images inside Gajim chat window
 This Gajim plugin let the user display images inside the chat window.
 If they right click on the picture they have several options:
  - save the picture to a location of their choice
  - open the picture with their file manager
  - open the link with their browser
 Privacy Warning:
 With this plugin enabled, links received by you will be followed
 automatically. This can be abused by others to find out your IP address
 or other information. In case of doubt, leave this plugin disabled.
